body {
  background-color: #91c5ad;
  background-attachment: fixed;
  font-family: Big Caslon, serif;
}


/* sidebar */

#sidebar {
  padding-top: 90px;
  width: 200px;
  height: 100%;
  float: left;
  margin-left: 0;
}

#sidebuttons {
  list-style-type: none;
  line-height: 3.3;
  text-align: right;
}

.button {
  font-family: Big Caslon, serif;
  font-size: 1.2em;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 1px;
  padding: 5px;
  letter-spacing: 2px;
  transition: all 280ms ease-in-out;
}

#sidebar button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  padding-left: 30px;
  transition: all 280ms ease-in-out;
}


/* content */

#content {
  min-width: 980px;
}

.post {
  width: 500px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 1px;
  color: #2c363c;
}

img {
  width: 500px;
  height: 500px;
  margin-top: -100px;
}

.post p {
  text-indent: 30px;
}

/* dates */

.date {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 0.8;
  letter-spacing: 1px;
  position: relative;
  margin-left: 520px;
  margin-top: 10px;
}

.date p {
  border-bottom: 1px solid #fff;
  width: 70px;
  padding-bottom: 10px;
  margin: auto;
}

.number {
  font-size: 40px;
  font-weight: bold;
  color: #f16e87;
}


/* pages */

#footer {
  display: inline-flex;
}

#pages {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 435px;
  margin-top: 20px;
  color: #fff;
  font-size: 25px;
  line-height: 0.3;
  letter-spacing: 1px;
  text-align: center;
}

.pagenumber {
  font-family: Times New Roman;
  font-weight: bold;
  padding-top: 3px;
}

.next {
  width: 145px;
  height: 30px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 1px;
  font-family: Big Caslon, serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: right;
  transition: all 280ms ease-in-out;
  margin-top: 50px;
  margin-left: 20px;
  padding-right: 15px;
}

#next button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  transition: all 280ms ease-in-out;
}
