body {
  background-image: url("http://www.mytechref.com/server25-cdn/2015/11/10/rainbow-sparkles-and-glitter-purple-glitter-9007629da0a6ac25.jpg");
  background-size: cover;
}


/* sidebar */

#sidebar {
  padding-top: 90px;
  width: 200px;
  float: left;
}

#sidebuttons {
  list-style-type: none;
  line-height: 3.3;
  text-align: right;
}

.button {
  font-family: Big Caslon, serif;
  font-size: 1.2em;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 1px;
  padding: 5px;
  letter-spacing: 2px;
  transition: all 280ms ease-in-out;
}

button:hover {
  color: #000;
  background-color: #5cb8cc;
  border: 1px solid #5cb8cc;
  padding-left: 30px;
  transition: all 280ms ease-in-out;
}
